{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "rules": {
    "no-plusplus": 0,
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/destructuring-assignment": 0,
    "react/button-has-type": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0
  }
}
